@use '../../base' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 320px;

  section.overview_section {
    display: flex;
    flex-direction: column;
    margin-top: 300px;

    .content {
      display: flex;
      flex-direction: column;
      @include container;
      margin: 0 auto;
      align-items: center;

      h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: fontSize(7xl);
        font-weight: 500;
        width: col(7);
        line-height: 1;
      }
    }
  }

  section.content_section {
    display: flex;
    flex-direction: column;

    .content {
      display: grid;
      @include container;
      margin: 0 auto;
      gap: 72px 64px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  section.more_section {
    display: flex;
    flex-direction: column;

    .heading {
      display: flex;
      flex-direction: column;
      @include container;
      margin: 0 auto;
      gap: size(10);
      align-items: center;

      h2 {
        display: flex;
        line-height: 1;
        font-size: fontSize(7xl);
        font-weight: 500;
        width: col(6);
        text-align: center;
      }

      span {
        display: flex;
        font-size: fontSize(2xl);
        font-weight: 500;
        width: col(7);
        text-align: center;
      }
    }
  }
}
