/* Globals styles */
/* import font from google */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

/* import local fonts */
/* from `Gilroy` */
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(/fonts/gilroy/regular.woff2) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(/fonts/gilroy/medium.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(/fonts/gilroy/semibold.woff2) format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(/fonts/gilroy/bold.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(/fonts/gilroy/extrabold.woff2) format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(/fonts/gilroy/black.woff2) format('woff2');
  font-weight: 900;
}

/* presets */
/* preset for icon, animation and base elements */
.fi {
  @apply flex justify-center items-center;
}

[animation^='text-word'] {
  font-kerning: none;
}

[animation] [animation-target] {
  @apply opacity-0;
}

.word,
.line {
  overflow: hidden;
  @apply relative;
}

.word {
  @apply -my-5;
}

.line-mask {
  @apply absolute right-0 top-0 w-full h-full bg-white dark:bg-black bg-opacity-70 dark:bg-opacity-70;
  z-index: 999;
}
