@use 'variables' as *;

// media query mixinds
// to handle the responsive layout
@mixin screen($key) {
  $size: map-get($screens, $key);

  @media (min-width: $size) {
    @content;
  }
}

// theme mode mixins
// allow to manage the light and dark theme support
@mixin theme($key) {
  @media (prefers-color-scheme: $key) {
    @content;
  }
}

// container helper to
// manage the content wrapper
// following with the width conditions
@mixin container {
  width: 100%;
  @content;

  @include screen(tablet) {
    width: calc(100% - 120px);
  }

  @include screen(laptop) {
    width: calc(1024px - 120px);
  }

  @include screen(desktop) {
    width: calc(1440px - 180px);
  }
}
