// define all variables
// including the fonts, text, size, scaling and so on

$colors: (
  white: #ffffff,
  black: #000000,
  gray: (
    50: '#f8fafc',
    100: '#f1f5f9',
    200: '#e2e8f0',
    300: '#cbd5e1',
    400: '#94a3b8',
    500: '#64748b',
    600: '#475569',
    700: '#334155',
    800: '##1e293b',
    900: '##0f172a',
  ),
);

$fonts: (
  'dm-sans': "DM Sans, 'sans-serif'",
);

$fontSizes: (
  sm: '0.8rem',
  base: '1rem',
  lg: '1.125rem',
  xl: '1.25rem',
  2xl: '1.5rem',
  3xl: '1.875rem',
  4xl: '2.25rem',
  5xl: '3rem',
  6xl: '3.75rem',
  7xl: '4.5rem',
  8xl: '6rem',
  9xl: '8rem',
);

$screens: (
  tablet: '640px',
  laptop: '1024px',
  desktop: '1240px',
);

// spacing that inheritence
// with the padding, margin, width, height, space, and gap
$spacings: (
  1: '4px',
  2: '8px',
  3: '12px',
  4: '16px',
  5: '20px',
  6: '24px',
  7: '28px',
  8: '32px',
  9: '36px',
  10: '40px',
  11: '44px',
  12: '48px',
  13: '52px',
  14: '56px',
  15: '60px',
  16: '64px',
);
