@use '../../base' as *;

.item {
  display: flex;
  flex-direction: column;
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  border: 1px solid var(--clr-gray-200);
  border-radius: size(5);
  padding: size(5) size(5);
  cursor: pointer;
  position: relative;
  transition: all 1.1s ease-in-out;

  &:hover {
    transform: translateY(-20px) scale(1.1);
  }

  picture {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--clr-gray-100);
    border-radius: 100%;
    width: 80px;
    height: 80px;

    img {
      object-fit: contain;
    }
  }

  h5 {
    display: flex;
    font-size: fontSize(2xl);
    font-weight: 500;
    margin-top: size(10);
  }

  p {
    display: flex;
    font-size: fontSize(lg);
    margin-top: size(4);
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: size(1) size(2);
    margin-top: 20px;

    .tag_item {
      display: flex;
      padding: size(1) size(3);
      border-radius: 20px;
      font-size: fontSize(base);
      font-weight: 600;
      background: var(--clr-gray-100);
    }
  }
}
