@use '../../base' as *;

li.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: size(4);
  height: 80vh;
  cursor: pointer;

  span.position {
    display: flex;
    font-weight: 700 !important;
    font-size: 140px !important;
    margin: 0 !important;
    color: transparent;
    -webkit-text-stroke: 2px var(--clr-black);
  }

  h4.heading {
    display: flex;
    font-size: fontSize(4xl);
    font-weight: 600;
    cursor: pointer;
  }

  p {
    display: flex;
    font-size: fontSize(xl);
    font-weight: 500;
    color: var(--clr-gray-700);
  }
}
