@use '../../base' as *;

.item {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-gray-200);
  border-radius: 40px;
  padding: size(3);
  padding-right: size(14);
  gap: size(5);
  cursor: pointer;
  position: relative;
  transition: all 1.1s ease-in-out;

  &:hover {
    transform: translateY(-20px) scale(1.1);
  }

  picture {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--clr-gray-100);
    border-radius: 100%;
    width: 60px;
    height: 60px;

    img {
      object-fit: contain;
    }
  }

  h5 {
    display: flex;
    flex: 1;
    font-size: fontSize(xl);
    font-weight: 500;
  }
}
