@use '../../base' as *;

.item {
  display: flex;
  flex-direction: column;
  grid-column: span 1 / span 1;
  grid-row: span 4 / span 4;
  gap: size(8);
  cursor: pointer;

  &:hover {
    picture img {
      transform: scale(1.1);
    }
  }

  &:nth-of-type(1) {
    grid-row-start: 2;
  }

  &:nth-of-type(2) {
    grid-row-start: 3;
  }

  picture {
    display: flex;
    position: relative;
    height: 340px;
    width: 100%;
    overflow: hidden;
    border-radius: 24px;

    img {
      object-fit: cover;
      transition: all 1.2s ease-in-out;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: size(4);

    h4 {
      display: flex;
      font-size: fontSize(3xl);
      font-weight: 500;
      line-height: 1.3;
    }

    span {
      display: flex;
      font-size: fontSize(xl);
      font-weight: 500;
    }
  }
}
