@use '../../base' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--clr-gray-200);
  border-radius: 40px;
  background: transparent;
  outline: transparent;
  cursor: pointer;

  &:hover {
    color: var(--clr-white);
  }

  .backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background: var(--clr-black);
    transform: translateX(-110%);
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: size(6) size(10);
    font-size: fontSize(lg);
    font-weight: 600;
    gap: size(4);
    font-family: var(--font-sans);

    i {
      font-size: fontSize(2xl);
    }
  }
}
