@use '../../base' as *;

.option {
  display: flex;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--clr-gray-200);
  border-radius: 40px;
  overflow: hidden;
  background: transparent;
  font-size: fontSize(lg);
  font-weight: 600;
  line-height: 1;

  .backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(-110%);
    background: var(--clr-black);
    border-radius: 40px;
  }

  .content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: size(4);
    padding: size(6) size(10);
  }

  .active {
    color: var(--clr-white);
  }
}
