@use '../base' as *;

.main {
  display: flex;
  flex-direction: column;
  padding: 220px 0;

  section.header_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 140px 0;
    @include container;

    h1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      font-size: fontSize(7xl);
      line-height: 1.3em;
      font-weight: 500;
      width: col(8);

      .space {
        width: 20px;
      }
    }

    p {
      display: flex;
      margin-top: size(10);
      text-align: center;
      width: col(5);
      font-size: fontSize(2xl);
      color: var(--clr-gray-700);
      font-weight: 500;
      margin-top: 100px;
    }
  }

  .more_resources {
    display: flex;
    @include container;
    margin: 0 auto;
    justify-content: center;
    gap: size(16);
    align-items: center;
    margin-top: 100px;

    .item {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      i {
        font-size: fontSize(7xl);
      }
    }
  }
}

section.best_of_week {
  display: flex;
  flex-direction: column;
  padding: 140px 0;
  width: 94%;
  margin: 0 auto;

  h2 {
    display: flex;
    font-size: fontSize(7xl);
    font-weight: 500;
    line-height: 1;
  }

  .wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    gap: size(7);
    margin-top: -64px;
    position: relative;
  }
}

section.new_post {
  display: flex;
  flex-direction: column;
  padding: 140px 0;
  margin: 0 auto;
  position: relative;

  h2 {
    display: flex;
    font-size: fontSize(7xl);
    font-weight: 500;
    line-height: 1;
    position: relative;
    z-index: 99;
    margin: 0 60px;
  }

  .wrapper {
    display: inline-block;
    white-space: nowrap;
    margin-top: size(16);
    padding: 0 size(10);
    padding-top: size(3);
  }
}

section.all_post {
  display: flex;
  flex-direction: column;
  padding: 140px 0;
  width: 94%;
  margin: 0 auto;
  position: relative;

  h2 {
    display: flex;
    font-size: fontSize(7xl);
    font-weight: 500;
    line-height: 1;
    position: relative;
    z-index: 99;
  }

  .wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 100px size(7);
    margin-top: size(16);
    position: relative;
  }
}

section.more_section {
  display: flex;
  justify-content: center;
}
