@use '../base' as *;

.main {
  display: flex;
  flex-direction: column;
  padding: 220px 0;

  .section {
    display: flex;
    width: 60%;
    margin: 0 auto;

    .wrapper {
      display: flex;
      flex-direction: column;

      .heading {
        display: flex;
        font-size: fontSize(7xl);
        font-weight: 500;
        width: col(10);
        line-height: 1;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: size(5);
        margin-top: 140px;
        position: relative;

        .interest_label {
          font-size: fontSize(3xl);
          color: var(--clr-gray-500);
          line-height: 1.6;
        }

        .interest_wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: size(5);
          margin-bottom: size(16);
        }

        .actions {
          margin-top: size(14);
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
