@use '../base' as *;

.main {
  display: flex;
  flex-direction: column;

  .headline_section {
    display: flex;
    padding: 140px 0;
    margin-top: size(14);

    gap: size(16);

    .wrapper {
      display: flex;
      flex-direction: column;
      width: col(8);
      margin: 0 auto;

      h1 {
        display: flex;
        font-size: fontSize(7xl);
        font-weight: 500;
        line-height: 1;
      }

      span {
        display: flex;
        font-size: fontSize(2xl);
        font-weight: 500;
        width: col(8);
        line-height: 1.6;
        margin-top: size(12);
      }
    }
  }

  .question_section {
    display: flex;
    flex-direction: column;
    padding: 140px 0;
    gap: 140px;

    .wrapper {
      display: flex;
      gap: size(10);
      margin: 0 auto;
      width: col(8);

      .category_side {
        display: flex;
        width: col(4);

        h4 {
          display: flex;
          font-size: fontSize(4xl);
          font-weight: 500;
          line-height: 1.3;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: size(4);
      }
    }
  }

  .ask_something_section {
    display: flex;
    padding: 140px 0;

    .wrapper {
      display: flex;
      flex-direction: column;
      width: col(8);
      margin: 0 auto;
      align-items: center;

      h2 {
        display: flex;
        font-size: fontSize(7xl);
        font-weight: 500;
        line-height: 1;
      }

      p {
        margin-top: size(10);
        display: flex;
        font-size: fontSize(2xl);
        font-weight: 500;
        line-height: 1.6;
        width: col(7);
        text-align: center;
      }

      .list {
        margin-top: size(12);
        display: flex;
        align-items: center;
        gap: size(5);
      }
    }
  }
}
