@use '../base' as *;

.main {
  .headline_section {
    display: flex;
    flex-direction: column;
    width: col(8);
    margin: 0 auto;
    padding: 140px 0;

    h1 {
      font-size: fontSize(7xl);
      font-weight: 500;
      width: col(7);
      line-height: 1;
    }
  }

  .source_section {
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      align-items: center;
      width: col(8);
      margin: 0 auto;
      gap: size(5);

      .item {
        display: flex;
        align-items: center;
        background: var(--clr-gray-100);
        padding: size(5) size(10);
        border-radius: 40px;
        gap: size(3);
        font-weight: 500;
        cursor: pointer;

        i {
          font-size: fontSize(lg);
        }
      }
    }
  }

  .inspiration_list_section {
    display: flex;
    width: col(10);
    margin: 140px auto;

    .wrapper {
      display: grid;
      grid-template-columns: repeat(9, minmax(0, 1fr));
      width: 100%;
      gap: 100px size(7);
    }
  }
}
