@use '../../base' as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: size(10);
  margin-top: 200px;

  .wrapper {
    display: flex;
    justify-content: center;
    gap: size(10);
    width: col(9);
    margin: 0 auto;
    padding: 144px 0;

    nav {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: size(10);

      span {
        font-size: fontSize(xl);
        color: var(--clr-gray-600);
        font-weight: 500;
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: size(7);

        li {
          display: flex;
          cursor: pointer;
          line-height: 1;
          font-weight: 500;
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: translateX(-8px);
          }
        }
      }
    }
  }
  .credit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: size(5) size(10);
    box-sizing: border-box;
    border-top: 1px solid var(--clr-gray-200);

    span {
      font-weight: 500;
      cursor: pointer;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: size(4);

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: fontSize(2xl);
        height: size(12);
        width: size(12);
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }
}
