@use 'base/variables' as *;

// import flaticon uicons css
@import '~@flaticon/flaticon-uicons/css/all/all';

// create the custom variables
// by mapping all variables into a interpolate
:root {
  @each $color, $value in $colors {
    // also check if the color
    // has their shades
    @if type-of($value) == 'map' {
      @each $shade, $shadeColor in $value {
        --clr-#{$color}-#{$shade}: #{$shadeColor};
      }
    } @else {
      --clr-#{$color}: #{$value};
    }
  }
}

// preset styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--font-sans);
  overscroll-behavior: none;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
}

button {
  font-family: var(--font-sans);
}

// cursor syles
[data-cursor-size],
[data-cursor-image],
[data-cursor-color],
[data-cursor-exclusion],
[data-cursor-text],
[data-cursor-hide],
[data-cursor-stick],
[data-cursor-magnetic] {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }
}

.fi {
  display: flex;
  justify-content: center;
  align-items: center;
}
