/* User interface icons from flaticons.com */
@import '~@flaticon/flaticon-uicons/css/all/all';

/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme customizations & adaptive for light and dark mode */
@layer base {
  :root {
    --background: 0 0 98%;
    --foreground: 0 0 4%;
    --ambient: 0 0 100%;
    --border: 0 0 94%;
    --input: 0 0 94%;
    --primary: 0 0 0%;
    --primary-foreground: 0 0 98%;
    --secondary: 0 0 94%;
    --secondary-foreground: 0 0 10%;
  }
}

.dark {
  --background: 245 16 5%;
  --foreground: 245 2 70%;
  --ambient: 0 0 0%;
  --border: 0 0 10%;
  --input: 0 0 10%;
  --primary: 0 0 90%;
  --primary-foreground: 0 0 90%;
  --secondary: 245 8 10%;
  --secondary-foreground: 245 2 65%;
}

/* preset */
@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply text-sm tablet:text-base font-normal text-foreground bg-background leading-normal font-sans antialiased selection:bg-fuchsia-500/10 dark:selection:text-fuchsia-200/70 selection:text-fuchsia-950;
    font-variation-settings: normal;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}
