@use '../../base' as *;

.item {
  display: flex;
  flex-direction: column;
  grid-column: span 3 / span 3;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--clr-gray-100);
  border-radius: 32px;
  padding: size(5);
  position: relative;
  transition: all 1.2s ease-in-out;

  &:hover {
    transform: translateY(-20px);

    picture {
      img {
        transform: scale(1.1);
      }
    }
  }

  .head {
    display: flex;
    align-items: center;
    gap: size(4);

    i {
      height: 64px;
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: fontSize(2xl);
      background: var(--clr-black);
      color: var(--clr-white);
      border-radius: 100%;
    }

    h4 {
      display: flex;
      flex: 1;
      font-size: fontSize(3xl);
      font-weight: 500;
      line-height: 1;
    }
  }

  span {
    display: flex;
    font-size: fontSize(xl);
    font-weight: 500;
    margin-top: size(5);
  }
}
