@use '../../base' as *;

.item {
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  padding: size(10) size(5);
  border-radius: 32px;
  border: 1px solid var(--clr-gray-200);
  cursor: pointer;
  transition: all 1.7s ease-in-out;
  overflow: hidden;

  &:hover {
    transform: translateY(-20px);
  }

  picture {
    display: flex;
    position: relative;
    height: 72px;
    width: 72px;

    img {
      object-fit: contain;
    }
  }

  span {
    display: flex;
    font-size: fontSize(5xl);
    font-weight: 700;
    color: var(--clr-white);
    -webkit-text-stroke: 2px var(--clr-black);
    margin-top: 60px;
    line-height: 1;
  }
}
