@use '../../base' as *;

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: size(4);
  padding: size(4) size(10);
  padding-left: size(4);
  border-radius: 80px;
  border: 1px solid var(--clr-gray-100);
  cursor: pointer;

  transition: all 1.1s ease-in-out;

  &:hover {
    transform: translateY(-12px);

    i {
      transform: scale(1.1);
      background: rgb(206, 192, 255);
    }
  }

  i {
    font-size: fontSize(2xl);
    background: rgb(255, 191, 221);
    height: size(14);
    width: size(14);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }

  span {
    display: flex;
    font-size: fontSize(lg);
    font-weight: 600;
  }
}
