@import '@flaticon/flaticon-uicons/css/all/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 98%;
    --foreground: 0 0 4%;
    --ambient: 0 0 100%;
    --border: 0 0 94%;
    --input: 0 0 94%;
    --primary: 0 0 0%;
    --primary-foreground: 0 0 98%;
    --secondary: 0 0 94%;
    --secondary-foreground: 0 0 10%;
  }
}

.dark {
  --background: 0 0 0%;
  --foreground: 0 0 90%;
  --ambient: 0 0 6%;
  --border: 0 0 15%;
  --input: 0 0 10%;
  --primary: 0 0 90%;
  --primary-foreground: 0 0 90%;
  --secondary: 0 0 19%;
  --secondary-foreground: 0 0 65%;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply !text-sm tablet:!text-base font-normal text-foreground bg-background leading-normal !font-sans antialiased;
    font-variation-settings: normal;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}
