/* resources */
@import '~@flaticon/flaticon-uicons/css/all/all';

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme customizations */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --invert-foreground: #070410;
    --border: #f1f5f9;
    --input: #f1f5f9;
    --primary: #2723ff;
    --primary-foreground: #f1f5f9;
    --secondary: #000000;
    --secondary-foreground: #f1f5f9;
  }

  .dark {
    --background: #070410;
    --foreground: #f1f5f9;
    --invert-foreground: #000000;
    --border: #0f172a;
    --input: #0f172a;
    --primary: #2723ff;
    --primary-foreground: #f1f5f9;
    --secondary: #ffffff;
    --secondary-foreground: #000000;
  }
}

/* animation */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

[data-animation^='text-'] {
  font-kerning: none;
}

[data-animation] [data-animation-target] {
  @apply opacity-0;
}

.word,
.line {
  overflow: hidden;
  @apply relative;
}

.word {
  @apply -my-6;
}

.line-mask {
  @apply absolute right-0 top-0 w-full h-full bg-white dark:bg-black bg-opacity-70 dark:bg-opacity-70;
  z-index: 999;
}

/* cursor */
.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  will-change: transform, height, width, color;
  border-radius: 100%;
  contain: layout style size;
  transform: translate(-50%, -50%);
}

.cursor-follower__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  mix-blend-mode: inherit;
  will-change: transform, height, width, opacity, color;
  border-radius: 100%;
  contain: layout style size;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.cursor-follower__img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  filter: invert(1);
}

[data^='data-cursor'] {
  position: relative;
}

[data^='data-cursor']::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

/* base preset */
body {
  @apply text-base font-normal text-foreground bg-background leading-normal font-sans;
}
.fi {
  @apply flex justify-center items-center;
}
