@use '../../base/' as *;

.button {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: getSpace(16);
  width: getSpace(16);
  border-radius: 100%;
  gap: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 9999;
  transition: background 0.5s ease-in-out;

  &_active {
    background: var(--clr-black);

    .stick {
      background: var(--clr-white) !important;
    }

    .stick:nth-child(1) {
      transform: rotate(45deg);
    }
    .stick:nth-child(2) {
      transform: rotate(-45deg);
    }
  }

  .stick {
    display: flex;
    width: getSpace(8);
    height: 3px;
    border-radius: 10px;
    background: var(--clr-black);
    transition: all 0.5s ease-in-out;
    transform-origin: 25% 25%;
    will-change: transform;
  }

  &:hover {
    .stick:nth-child(1) {
      transform: rotate(45deg);
    }
    .stick:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.active {
  display: flex !important;
}

.full_menu {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: scroll hidden;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: circle(4.9% at 95% 3%);

    &:nth-child(1) {
      background: var(--clr-black);
    }

    &:nth-child(2) {
      background: var(--clr-white);
    }
  }

  .wrapper {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: size(16) 0;
    margin: 0 auto;

    .label {
      color: var(--clr-gray-500);
    }

    .top_menu {
      display: flex;
      width: 100%;
      gap: getSpace(10);
      justify-content: center;

      .socials {
        display: flex;
        flex-direction: column;
        size: col(4);
        gap: size(10);

        .list {
          display: flex;
          list-style: none;
          flex-direction: column;
          gap: size(4);
          font-size: fontSize(lg);
          cursor: pointer;

          .item {
            transition: transform 0.5s ease-in-out;

            &:hover {
              transform: translateX(-8px);
            }
          }
        }
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: getSpace(10);
        width: col(5);

        .list {
          display: flex;
          flex-direction: column;
          gap: getSpace(8);

          .item {
            display: flex;
            font-size: fontSize(7xl);
            font-weight: 500;
            line-height: 1;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;

            &:hover {
              transform: translateX(-8px);
            }
          }
        }
      }
    }

    .supports {
      display: flex;
      align-items: center;
      justify-content: center;

      .list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: size(5);

        .item {
          display: flex;
          font-weight: 500;
          justify-content: center;
          align-items: center;
          padding: size(5) size(10);
          border: 1px solid var(--clr-gray-200);
          border-radius: 40px;
          cursor: pointer;
        }
      }
    }
  }
}
