@use '../../base' as *;

.main {
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  gap: 200px;

  svg {
    position: absolute;
  }

  section.head_section {
    display: flex;

    .wrapper {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding-top: 140px;
      @include container;

      h1 {
        display: flex;
        flex-wrap: wrap;
        width: col(7);
        padding: 0 20px;
        font-size: fontSize(8xl);
        font-weight: 600;
        line-height: 1;
        text-align: center;
        justify-content: center;

        .space {
          display: flex;
          width: size(10);
        }
      }
    }
  }

  section.explain_section {
    display: flex;
    flex-direction: column;
    padding: 140px 0;
    margin-top: 200px;
    gap: 100px;

    .content {
      display: flex;
      justify-content: center;
      gap: size(10);
      @include container;
      margin: 0 auto;

      .heading {
        display: flex;
        width: col(3);

        h4 {
          display: flex;
          line-height: 1.3;
          font-weight: 500;
          font-size: fontSize(3xl);
        }
      }

      .desc {
        display: flex;
        width: col(6);

        span {
          display: flex;
          font-size: fontSize(3xl);
          line-height: 1.6;
          font-weight: 500;
        }
      }
    }

    .illustrations {
      position: relative;
      @include container;
      margin: 0 auto;
      margin-top: 100px;
      justify-content: center;
      display: flex;

      span.bubble {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 320px;
        width: 320px;
        border-radius: 100%;
        border: 1px solid var(--clr-gray-200);
        font-size: fontSize(xl);
        font-weight: 600;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }

        &:nth-of-type(1) {
          right: -140px;
        }
        &:nth-of-type(2) {
          right: -100px;
        }
        &:nth-of-type(3) {
          left: -360px;
          bottom: -240px;
        }
      }
    }
  }

  section.faq_section {
    display: flex;
    flex-direction: column;
    padding: 140px 0;

    .wrapper {
      display: flex;
      flex-direction: column;
      @include container;
      margin: 0 auto;
      align-items: center;

      h2 {
        display: flex;
        font-size: fontSize(7xl);
        font-weight: 600;
        line-height: 1;
      }

      span {
        font-size: fontSize(2xl);
        font-weight: 500;
        width: col(6);
        text-align: center;
        line-height: 1.6;
        margin-top: size(10);
      }

      ul.list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: size(5);
        width: col(8);
        margin-top: 100px;
      }
    }
  }

  section.quotes_section {
    display: flex;
    padding: 140px 0;

    .wrapper {
      display: flex;
      @include container;
      margin: 0 auto;
      justify-content: center;

      h2 {
        display: flex;
        width: col(9);
        text-align: center;
        font-size: fontSize(7xl);
        font-weight: 500;
        line-height: 1.3;
      }
    }
  }
}
