@use '../../base' as *;

.item {
  display: flex;
  flex-direction: column;
  gap: size(5);
  border: 1px solid var(--clr-gray-100);
  padding: size(3) size(5);
  border-radius: size(4);

  .head {
    display: flex;
    align-items: center;
    cursor: pointer;

    h5 {
      display: flex;
      flex: 1;
      font-size: fontSize(xl);
      font-weight: 500;
      line-height: 1.3;
    }

    button {
      border: transparent;
      outline: transparent;
      background: transparent;
      font-size: fontSize(lg);
      color: var(--clr-gray-600);
    }
  }

  p {
    display: flex;
    font-size: fontSize(lg);
    color: var(--clr-gray-600);
    font-weight: 500;
  }
}
