@use '../../base' as *;

.floating_contact_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 90;
  bottom: size(16);
  right: size(16);
  cursor: pointer;
  background: transparent;
  outline: transparent;
  border: transparent;

  .circle_text {
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 100%;

    .char {
      position: absolute;
      transform-origin: 0 80px;
      font-size: fontSize(lg);
      font-weight: 500;
    }
  }
  .icon_circle {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background: var(--clr-black);

    img {
      display: flex;
      margin-top: size(3);
    }
  }
}
